/*html {

    font-weight: bold;
    font-family: sans-serif;

}*/

header *.card {

    border-top: none;

}

header *.card:first-child {

    border-left: none;

}

header *.card:last-child {

    border-right: none;

}

header *.card {

    border-top-left-radius: 0;
    border-top-right-radius: 0;

}

header *.card:first-child {

    border-bottom-left-radius: 0;

}

header *.card:last-child {

    border-bottom-right-radius: 0;

}

a {

    color: white;
    text-decoration: none;

}

#active {

    background-color: #2e3031;

}